@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glow-border {
    @apply border border-cyan-500/50 shadow-[0_0_15px_rgba(34,211,238,0.5)];
  }
  .mask-radial-fade {
    /* Crea un degradado que va de opaco (centro) a transparente (bordes) */
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 70%);
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 70%);
    
    /* Asegura que la máscara no se repita y cubra la imagen */
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-position: center;
    mask-position: center;
  }
}


@keyframes scrollText {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-120%);
  }
}

.animate-scrollText {
  animation: scrollText 14s linear infinite;
}
